<head>
    <title>Beans Chat</title>
    <style>
        ul {
            list-style-type: none;
        }
    </style>
</head>
<body>
    <h3 style="text-align: center"> Beans Chat </h3>
    <input type="text" id="username" placeholder="username">
    <button id="usernameBtn">Submit</button>
    <div class="message-box">
        <ul id="message-list"></ul>
    </div>
    <div>
        <input type="text" id="message">
        <button type="button" id="messageBtn">Send</button>
    </div>
</body>
